Fire_treatment_history.cpg
Fire_treatment_history.dbf
Fire_treatment_history.prj
Fire_treatment_history.qpj
Fire_treatment_history.shx
NOCA_Park_boundary.cpg
NOCA_Park_boundary.dbf
NOCA_Park_boundary.prj
NOCA_Park_boundary.qpj
NOCA_Park_boundary.shx
NOCA_Wildfire_History.cpg
NOCA_Wildfire_History.dbf
NOCA_Wildfire_History.prj
NOCA_Wildfire_History.qpj
NOCA_Wildfire_History.shx
Prescribed_burn_history.cpg
Prescribed_burn_history.dbf
Prescribed_burn_history.prj
Prescribed_burn_history.qpj
Prescribed_burn_history.shx
Ross_lake.cpg
Ross_lake.dbf
Ross_lake.prj
Ross_lake.qpj
Ross_lake.shx
all_plots_joined_to_wildfires.cpg
all_plots_joined_to_wildfires.dbf
all_plots_joined_to_wildfires.prj
all_plots_joined_to_wildfires.qpj
all_plots_joined_to_wildfires.shx
